<div class="nav">
  <div class="title">
    <h2>Photo<span>App</span></h2>
  </div>
</div>
<div>
  <div class="center">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search for  pictures</mat-label>
      <input type="text" #query placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto" (keyup)="sendValue(query.value)" name="val" [(ngModel)]="val" >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-icon (click)="search1()">search</mat-icon>
    </form>
  </div>
  <div class="row contain" *ngFor="let pos of arrQuery">
    <!-- class="row my-row justify-content-around" -->
    <div class="col-md-3 col-sm-3 col-xs-3 col-xl-3 animate__animated animate__fadeInDown"
      style="background-color: {{p.color}};" *ngFor="let p of pos" (mouseenter)="processColor(p)">
      <!-- <span (click)="showDetails(p)" class="fa fa-icon">i</span> -->
      <img src="{{p.urls.small}}" />
      <button class="sideways btn"  style="background-color: {{p.color}};"><mat-icon>arrow_right_alt</mat-icon></button>
      <div class="info">
        <button class="btn " style="font-size:5px;font-style:bolder;background-color: {{p.color}}" ><mat-icon>info</mat-icon></button>
        <span class="info1 animate__animated animate__zoomIn" style="background-color: {{p_color}}; z-index:104">
          <h6>{{p.alt_description}}</h6>
          <p>{{p.description}}</p>
        </span>
      </div>
      <!-- <button class="btn btn-danger">Love</button> -->


      <!-- <div class="colu1">
        <div >
        <p class="h4">{{p.description}}</p>  </div>
        <div>
          <br><br>
          <button class="btn btn-info">Read a Blog!</button>
        </div>
        <br>
        <div>
          <button class="btn btn-default" >Others ...</button>
         
        </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>