*{
   
    /* margin-right:0px; */
    /* padding:0px; */
    overflow-x:hidden;
    overflow-y:hidden;

    
}
.contain{
    justify-content: center;
    display: flex;
}
img{
    /* width: 100%; */

    object-fit:scale-down ;
    width:90%;
    /* height:90%; */
    float:left; 
    /* border:1px solid red; */
        /* object-fit: cover; */
        /* width: 80%;   */
       height: 90%;
        /* justify-content: center; */
}


img:hover{
    transform: scale(1.1,1.1) ;
    transition: 0.8s  transform;
}
/* */
/* for info */
.info{
    position:absolute;
    /* margin-top:-100px; */
    /* margin-left:-50px; */
    margin-right: 20px;
    font-size: smaller;
    top:0;
    right:0;
   
    z-index:399;

}
.dialog{
        position:absolute;
        /* background-color: blueviolet; */
        color:white;
        /* margin-top:-100px; */
        /* margin-left:-50px; */
        margin-right: 20px;
        font-size: smaller;
        top:0;
        left:0;
       
        z-index:399;
        opacity:0.7;
        height: 100%;;
        width:100%
    
    
}
ul{
    display: block;
    float: left;
    width:80%;
    -ms-flex-align:center;
    margin-top:auto;

    

}
li{
    margin: 15px;
    background-color: black;
    color:white;
    border-radius: 11px;
    padding:11px;
    text-align: center;
}
.col-md-6 .col-sm-10 .col-xs-11 .col-lg-3{
    width: 60%;
    margin: 0 auto;
    border-radius: 11px;
}
.round{
 /* border-width:2px ; */
 /* border-color: white; */
 box-shadow: 1px 1px 1px 1px silver;
 /* background-color: black; */
 /* border-radius: 90%; */
 color:white;
 z-index:102;
 
}

.img-box{
    position: absolute;
    width:100%;
    /* background-color: aqua; */
    /* opacity: 0.5; */
    /* color:black; */
    /* display: none; */
    visibility: hidden;
    background-color: black;
    height:fit-content;
    color:white;
    text-align: center;
    /* margin-top:-100px; */
   top:3%;
   left:0;
   z-index: 500;
   padding-top:30px;
   word-spacing:2px;
   word-wrap: break-word;
   overflow-y:hidden;
   object-fit:scale-down ;


}
.info:hover + .img-box{
    visibility: visible;


}




.navv{
    top:0;
    position: sticky;
    z-index:1001;
    /* padding:5px; */
    background-color: rgb(25, 48, 110);
    /* margin-bottom: 30px; */
    width:100%;
}
.title{
    text-align: center;
    color: aliceblue;
}

.center{
     text-align: center;
}
.sideways{
    position: absolute;
    right:0;
    bottom:0;
    padding:5px;
    border:2px solid white;
    box-shadow:1px 1px 1px 1px white;
    font-size: 7px;
    z-index:699;
}
.cross{
    position: absolute;
    top:0;
    right:0;
    z-index: 10001;
    margin-top:50px;
    margin-right: 20px;
    background-color: black;
    color:white;
    border-radius: 11px;
    
}

