<div *ngIf="load" class="loader">
</div>
<div>
  <div class="" >
    <div class="navvv" id="section1" >
      <div class="title">
        <h2>Photo<span>App</span></h2>
      </div>

    </div>




      <div class="center">
        <form (ngSubmit)="search(val)">
          <mat-form-field>
            <mat-label>Search for pictures</mat-label>
            <input type="text" #query placeholder="put your query" aria-label="Number" matInput
              [formControl]="myControl" [matAutocomplete]="auto" (keyup)="sendValue(query.value)" name="val"
              [(ngModel)]="val">
            <!-- <div style="z-index:2400"> -->
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <!-- </div> -->
          </mat-form-field>
          <!-- <mat-icon style="position:relative;left:0;margin-bottom: 20px;margin-left:5px;" (click)="search1()">
        search
      </mat-icon> -->
          <input type="submit" value="Search" class="btn"
            style="position:relative;left:0;margin-bottom: 50px;margin-left:5px;">

        </form>
      </div>
  </div>

  <!-- Creating basic blocks of choices to fill the gaps -->
  <div class="choices row">

    <div *ngIf="sg" (click)="hideSuggestions()" class="col-md-10 col-sm-10 col-xs-11 col-lg-10 detail">

      <span> Hide Sugestions</span>
    </div>
    <div *ngIf="!sg" (click)="showSuggestions()" class="col-md-10 col-sm-10 col-xs-11 col-lg-10 detail">
      <span> Show Sugestions</span>
      <!-- <span *ngIf="!sg && arrQuery.length!=0"> Showing results for {{term}} </span> -->
      <!-- <span *ngIf="!sg" style="color:purple" > Showing results for {{term}} </span> -->

    </div>
    <div *ngIf="sg" class="row appear">
      <div *ngFor="let o of sg_arr1;let i=index" class="cardbox col-md-7 col-sm-9 col-xs-11 col-lg-4 "
        (click)="search(o.name)">
        <span class="text">
          {{o.name}}
        </span>
        <!-- <img src="{{o.resp}}"> -->
      </div>
    </div>
  </div>
  <!-- Creating basic blocks of choices to fill the gaps -->

  <!-- creating validation msges -->
  <div class="msg" *ngIf="msg">
    Please Enter a valid search term to continue. Thanks :) <button class="btn" style="color: white;border:none"
      (click)="closeMsg()">X</button>
  </div>
  <!-- creating validation msges -->



  <div class="row contain" 
    style="background:url({{src}},0.8);overflow: auto;object-fit:cover;transition: background 4.9s ease;"
    *ngFor="let pos of arrQuery">
    <!-- class="row my-row justify-content-around" -->
    <div data-aos="zoom-out-down" data-aos-duration="700" class="col-md-6 col-sm-10 col-xs-11 col-lg-3 m-3"
      style="background-color: {{p.color}};border-radius:11px;" *ngFor="let p of pos; let i=index"
      (mouseenter)="processColor(p)">
      <!-- <span (click)="showDetails(p)" class="fa fa-icon">i</span> -->


      <img src="{{p.urls.small}}" />


      <button class="sideways btn" (click)="dialog(p)" style="background-color: {{p.color}};">
        <mat-icon [ngStyle]="{'color':'green'}">arrow_downward</mat-icon>
      </button>
      <div *ngIf="dlg && p===q" class="dialog" style="background-color: {{p_color}};">
        <!-- <span class="cross" (click)="setDialog()">close</span> -->
        <ul>
          <li (click)="register(p,p.urls.full) ">Full</li>
          <li (click)="register(p,p.urls.regular)">Regular</li>
          <li (click)="register(p,p.urls.raw)">Raw</li>
          <li (click)="register(p,p.urls.small)">Small</li>
          <li (click)="setWallpaper(p.urls.regular)">Set as Background</li>
        </ul>

      </div>

      <!-- hover details -->
      <div class="info" (click)="info(p)">
        <button class="btn" style="font-size:5px;">
          <mat-icon [ngStyle]="{'box-shadow':' 2px 2px 2px 2px white'}">info</mat-icon>
        </button>
      </div>


      <div class="img-box " *ngIf="img_box && p===q" style="background-color: {{p_color}}; z-index:104">
        <!-- `https://unsplash.com/${p.user.link.html}?utm_source=favourites&utm_medium=referral` -->
        <p>Photo by <a href={{url_author}}><span
              style="background-color: white;color: {{p_color}};padding:7px;font-weight:bold;border-radius:12px">{{p.user.first_name}}&nbsp;{{p.user.last_name}}</span></a>
          on <a href="https://unsplash.com/?utm_source=your_app_name&utm_medium=referral"><span
              style="background-color: white;color: {{p_color}};padding:7px;font-weight:bold;border-radius:12px">Unsplash</span></a>
        </p>
        <h2>{{p.alt_description}}</h2>
        <p>{{p.description}}</p>


      </div>
    </div>
    <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()">
    </div>
  </div>
</div>
<div class="delete">
  <button class="btn" style="position:relative;left:0;margin-bottom: 50px;margin-left:15px;background:#DEDFE1">
 
      {{val1}}
   
  </button>
  <button class="btn" style="position:relative;left:0;margin-bottom: 50px;margin-left:5px;background:#DEDFE1"
    (click)="clear()">
    <mat-icon [ngStyle]="{'color':'red'}">delete</mat-icon>
  </button>
  <a href="#section1"><button class="btn" style="position:relative;left:0;margin-bottom: 50px;margin-left:15px;background:#DEDFE1">
   
      <mat-icon [ngStyle]="{'color':'blue'}">arrow_upward</mat-icon>
    
  </button></a>
</div>